
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared styles */
  .display-flex{
    display: flex;
  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 21px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    margin-top: 30px;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 110px;
  }
/* header styles */
/* navigation bar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  display: flex;
  text-decoration: none;
  font-weight: 500px;
  color: #424242;
}
.brand{
  color: #131313;
  /* font-weight: 700px;16px=1rem for responsive */
  font-size: 3rem;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 180px;
}
/* banner related  */
.banner{

}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
}
.banner-description{
  color: rgba(114, 114, 114, 1);
  font-size: 1rem;
  font-weight: 400px;
}
.banner{
  text-align: center;
}
.banner-img{
  width: 100%;
  padding: 8px;
}

/* teams and features related styles */
.teams{
  align-items: center;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.our-features .features-title{
  font-size: 2.8rem;
  font-weight: 700px;
}
#quick{
  font-weight:400px ;
  color: #727272;
}
#feat{
  font-weight: bold;
  color: rgba(255, 144, 14, 1);
}


/* some fact card relatd styles  */
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-number{
  font-weight: 600px;
  font-size: 2.8rem;
  color: rgba(66, 66, 66, 1);
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
  color: rgba(114, 114, 114, 1);
  font-size: 1.3rem;
  font-weight: 600px;
  margin-top: 10px;
}
.fact-description{
  color: rgba(114, 114, 114, 1);
  font-size: 1rem;
  font-weight: 400px;
  max-width: 542px;
  margin-top: 24px;
  margin-bottom: 100px;
}
.section-title{
  color: rgba(19, 19, 19, 1);
  font-weight: bold;
  font-size: 2.9rem;
}
/* sponsored section */
.sponsors-info{
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponsored-company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsored-company img{
  filter: grayscale(100%);
  margin: 0 auto;
}
/* features section started here  */
#features-style{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feat-decription{
  color: rgba(114, 114, 114, 1);
  font-weight: 400px;
  font-size: 1rem;
}
.feature-title{
  color: rgba(19, 19, 19, 1);
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.features{
  gap: 140px;
}
/* .features img{
  width: 800px;
  height: 1059px
} */
/* experience badge */
#exp-badge{
 padding: 45px 42px;
 color: rgba(255, 255, 255, 1);
 margin-left: -100px;
 margin-top: -100px;
}
#exp-year{
  font-size: 4.1rem;
  font-weight: bold;
}
#exp-badge .exp{
  font-size: 1.5rem;
  font-weight: 500px;
}

/* footer section */
.footer{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFF4E7;
  text-align: center;
  padding: 35px 410px;
  margin-top: 130px;
}



/*responsive media   */
@media screen and (max-width : 576px){
  .navbar, 
  .nav-links,
  .teams{
    flex-direction: column;
  }
  .team-img{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 10px;
  }
  .banner-title{
    font-size: 1rem;
  }
  .fact-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 20px;
  }
  .sponsored-company{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    justify-items: center;
  }
  .features{
    flex-direction: column;
  }
  .features-img img{
    width: 100%;
  }
  #exp-badge{
    margin-left: 35px;
    /* margin-top: 0px; */
  }
  .footer{
    width: 100%;
    padding:0;
    margin:0;
    font-size: 1rem;
  }
}

/* media responsive for medium devices  */

@media screen and (min-width:576px) and (max-width:992px){
  .teams, .navbar{
    flex-direction: column;
  }
  .fact-container{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 20px;
  }
  .sponsored-company{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-items: center;
  }
  .features{
    flex-direction: column;
  }
  #exp-badge{
    margin-left: 200px;
    /* margin-top: 0px; */
  }
  .footer{
    width: 100%;
    padding:0;
    margin:0;
    font-size: 1rem;
  }
}